@keyframes fadeIn{
    from{
        opacity: 0;
        margin-bottom: 5%;     
    }

    to{
        opacity: 1;
        margin-bottom: 0;
    }

}

@keyframes fadeIn-bar{
    from{
        opacity: 0; 
    }

    to{
        opacity: 1;   
    }

}


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    background-image: url(/assets/img/background-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--gallery{
        background-image: url(/assets/img/gallery.jpg);
    }

    &--create{
        display: flex;
        flex-flow: row;
        margin: 0 auto;
        background-image: none;
        width: 85vw;
        height: 60vh;
    }

    &--name{
        display: flex;
        flex-flow: column;
        margin: 40px auto;
        background-image: none;
        width: 85vw;
        height: 60vh;
    }
    
    &__top{
        height: 10vh;
        width: 100vw;
        display: flex;
       
        align-items: center;
        justify-content: flex-end;
    }
}

.borderLeft{
    margin: 40px 30px;
    position: fixed;
    width: 70vw;
    height: 90vh;
    overflow: hidden;
    
    background-image: url(/assets/img/border-left.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
}

.logos{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    right: 6vw;
    bottom: 5vh;
    animation: fadeIn 1s ease 0s 1 normal none;

    &__item{
        padding-left: 30px;
    }
}

.mainTitle{
    margin: 0 auto;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

   

    &__text{
        font-weight: 700;
        padding: 10px 40px;
        font-size: 5vw;
        text-align: center;
        color: #ffff;
        border: 4px solid #ffff;
        animation: fadeIn 1s ease 0s 1 normal none;

        &--gallery{
            font-weight: 600;
            margin: 0 10vw;
            text-align: left;
            border: none;
            font-size: 3vw;
            padding: 10px;
        }

        &--create{
            font-weight: 500;
            margin: 0 10vw;
            text-align: left;
            border: none;
            font-size: 2.5vw;
            padding: 10px;
        }
    }
}

.navbar{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 30px 100px;
    animation: fadeIn-bar 1s ease 0s 1 normal none;

    &__item{
        list-style: none;
        padding: 0 30px;
        border-right: 3px solid #ffffff9d;
    }

    &__link{
        font-weight: 600;
        color: #ffffff9d;
        text-decoration: none;

        &:hover{
            color: #ffffff;
        }
        
    }
}

@media (max-width: 576px){

    .borderLeft{
        display: none;
    }

}

@import './Gallery/Gallery';
@import './ButtonGallery/ButtonGallery';
@import './Sword/Sword';
@import './Create/Create';
@import './Name/Name';